body {
  background: #ccc;
}
body > header .navbar {
  margin-bottom: 0;
}
body > .container {
  padding-top: 20px;
  padding-bottom: 70px;
  background: #fff;
  box-shadow: 1px 0 2px 0 rgba(0,0,0,0.2);
  border-radius: 0 0 8px 8px;
}

h1 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.responsive-fake-table {
  margin-bottom: 20px;
  .col {
    border: 1px solid transparent;
    border-right: none;
    padding: 5px;
  }
  .col:first-child {
    border-left: none;
  }
  header .col {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;
    padding-top: 15px;
    font-weight: bold;
  }
  section .col {
    //color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  section:nth-child(odd) .col {
    background-color: #fff;
  }
  
}
.expansible-fake-table {
  section .col.toggle {
    cursor: pointer;
  }
}
